.layout {
    display: flex;
    flex-direction: column;
}

.layoutheader {
    position: absolute;
    height: 90px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.layoutcontent {
    position: absolute;
    overflow-y: scroll;
    top: 100px;
    width: 100%;
    bottom: 0;
}

.layoutoverflow {
    position: absolute;
    top: 800px;
    height: 700px;
    left: 0;
    right: 0;
    background-color: yellow;
}