.linkwithpopuppopup {
    position: fixed;
    background-color: white;
    border: 2px solid var(--borderColour);
    z-index: 200;
}

.linkwithpopuppopup::before {
    content: '';
    display: block;  
    position: absolute;
    border: 10px solid transparent;
    right: 100%;
    top: 13px;
    width: 0;
    height: 0;
    border-right-color: var(--borderColour);
}

.linkwithpopuppopup::after {
    content: '';
    display: block;  
    position: absolute;
    border: 8px solid transparent;
    right: 100%;
    top: 15px;
    width: 0;
    height: 0;
    border-right-color: white;
}

.linkwithpopupbackdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: var(--backdropColour);
}